mule_event/src/main/mule/mule_event_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2854d7f9-d6ab-45b9-9a29-f21514103949" basePath="mule_event">
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mule_eventFlow_json" doc:id="9af19b18-69f4-49bc-b224-6da3f59cb90a" >
		<http:listener doc:name="Listener" doc:id="2f98f116-40a9-4051-ad9d-f73e3fa96cbc" path="mule_event_json" outputMimeType="application/json" allowedMethods="POST" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="f5f8b487-7aa3-4e8b-ac0e-46b12428cbb7" message="#[payload.student.studentName]"/>
	</flow>
</mule>
